In [109]:
import pandas as pd

df = pd.read_csv("NewMarch.csv")

In [110]:
df.head()

,Place,Query,Datetime,Text,retweets,favourites,hashtags,Subjectivity,Polarity
0,Jharkhand,coronavirus,2020-03-29 16:23:31+00:00,In war global epidemic coronavirus I donated ₹...,1,9,#coronavirus #PMCARES,0.000000,0.000000
1,Jharkhand,coronavirus,2020-03-18 05:40:36+00:00,Dear liberals Please pray Corona virus cases g...,0,0,NaN,0.400000,-0.150000
2,Jharkhand,coronavirus,2020-03-19 08:09:44+00:00,Sir treatment available corona virus Jharkhand,0,0,NaN,0.400000,0.400000
3,Jharkhand,covid19,2020-03-11 18:05:59+00:00,Replying WHO `` Coronavirus confirmed pandemic...,0,2,#WHO #COVID19,0.597222,0.119444
4,Jharkhand,coronavirus,2020-03-26 08:26:04+00:00,jharkhand HemantSorenJMM WeAreRanchi WeAreDhan...,0,0,#jharkhand,0.225000,-0.058333

In [111]:
import re
from datetime import datetime

def date_extract(text):
    
    match = re.search(r'\d{4}-\d{2}-\d{2}', text)
    date = datetime.strptime(match.group(), '%Y-%m-%d').date()
    return date


df["Datetime"] = df["Datetime"].apply(date_extract)
df["Datetime"].head()

0    2020-03-29
1    2020-03-18
2    2020-03-19
3    2020-03-11
4    2020-03-26
Name: Datetime, dtype: object

In [112]:
df.head()

,Place,Query,Datetime,Text,retweets,favourites,hashtags,Subjectivity,Polarity
0,Jharkhand,coronavirus,2020-03-29,In war global epidemic coronavirus I donated ₹...,1,9,#coronavirus #PMCARES,0.000000,0.000000
1,Jharkhand,coronavirus,2020-03-18,Dear liberals Please pray Corona virus cases g...,0,0,NaN,0.400000,-0.150000
2,Jharkhand,coronavirus,2020-03-19,Sir treatment available corona virus Jharkhand,0,0,NaN,0.400000,0.400000
3,Jharkhand,covid19,2020-03-11,Replying WHO `` Coronavirus confirmed pandemic...,0,2,#WHO #COVID19,0.597222,0.119444
4,Jharkhand,coronavirus,2020-03-26,jharkhand HemantSorenJMM WeAreRanchi WeAreDhan...,0,0,#jharkhand,0.225000,-0.058333

In [113]:
dff = pd.DataFrame()

In [114]:
df = df.sort_values(by='Datetime')

In [115]:
df.Datetime.astype(str)

25758    2020-03-01
25036    2020-03-01
110      2020-03-01
26144    2020-03-01
29236    2020-03-01
            ...
13414    2020-03-30
13413    2020-03-30
13412    2020-03-30
13410    2020-03-30
12796    2020-03-30
Name: Datetime, Length: 42318, dtype: object

In [116]:
t = df.Datetime.unique()
t[0]

datetime.date(2020, 3, 1)

In [117]:
from statistics import mean

def ok(da):
    temp = df["Polarity"].where(df['Datetime']==da)
    temp = [x for x in temp if str(x) != 'nan']
    po = mean(temp)
    
    temp1 = df["Subjectivity"].where(df['Datetime']==da)
    temp1 = [x for x in temp1 if str(x) != 'nan']
    su = mean(temp1)
    
    
    
    print(po, su)
    return (da, po, su)

    
lst = []
for da in t:
    print()
    print(f'date:{da}')
    lst.append(ok(da))

date:2020-03-01
0.11148607992592592 0.4002500868271605

date:2020-03-02
0.07620830516763005 0.37406023272254335

date:2020-03-03
0.06666069106727829 0.35669484121712536

date:2020-03-04
0.08935461355970149 0.3508248177182836

date:2020-03-05
0.09408060097804878 0.3683880654512195

date:2020-03-06
0.05153726151602564 0.31217196493589744

date:2020-03-07
0.11140757598969073 0.3904199659690722

date:2020-03-08
0.06422058245454546 0.35896004690454547

date:2020-03-09
0.09446232769407895 0.38351172811842105

date:2020-03-10
0.09155483025441696 0.35077536198586573

date:2020-03-11
0.04874880055613577 0.33917555855091386

date:2020-03-12
0.06335886056178161 0.3414766040876437

date:2020-03-13
0.07373897860077022 0.3495151963530167

date:2020-03-14
0.06303593626748466 0.3366551926748466

date:2020-03-15
0.08869884331387808 0.3508209501335927

date:2020-03-16
0.08047185840958605 0.3525432952843137

date:2020-03-17
0.09361945317472119 0.33512988126765797

date:2020-03-18
0.07350118069435736 0.33429033419043885

date:2020-03-19
0.09668082254363143 0.3510091053560976

date:2020-03-20
0.08253709750436534 0.34270097209536604

date:2020-03-21
0.12249858835920294 0.37445373692344

date:2020-03-22
0.1176446060518992 0.34674614803497555

date:2020-03-23
0.08866137588262668 0.35986382049482935

date:2020-03-24
0.09932686059559472 0.35874407073920705

date:2020-03-25
0.09510840422328931 0.35679078605222087

date:2020-03-26
0.08036299755303868 0.35413885196685085

date:2020-03-27
0.0933760827235732 0.3464187509841191

date:2020-03-28
0.08409668813743637 0.359017310734845

date:2020-03-29
0.07879959163755458 0.3678008181118996

date:2020-03-30
0.06403346401001896 0.32453177694439933

In [118]:
dff = pd.DataFrame(lst)
dff.columns = ['date', 'Polarity', 'Subjectivity']

In [119]:
dff.head()

         date  Polarity  Subjectivity
0  2020-03-01  0.111486      0.400250
1  2020-03-02  0.076208      0.374060
2  2020-03-03  0.066661      0.356695
3  2020-03-04  0.089355      0.350825
4  2020-03-05  0.094081      0.368388

In [120]:
dff.Polarity.min()

0.04874880055613577

In [121]:
dff.Polarity.max()

0.12249858835920294

In [122]:
from statistics import mean, stdev

In [123]:
def nor(x):
    dev = stdev(dff["Polarity"])
    mea = mean(dff["Polarity"])
    return (x- mea)/dev
    
    
    
dff["std_polar"] = dff.Polarity.apply(nor)

In [124]:
dff["std_polar"].describe()

count    3.000000e+01
mean    -3.700743e-17
std      1.000000e+00
min     -1.959343e+00
25%     -6.049281e-01
50%      9.479585e-02
75%      5.308330e-01
max      2.066471e+00
Name: std_polar, dtype: float64

In [125]:
dff["Subjectivity"].describe()

count    30.000000
mean      0.354263
std       0.018582
min       0.312172
25%       0.343630
50%       0.351776
75%       0.359652
max       0.400250
Name: Subjectivity, dtype: float64

In [126]:
import numpy as np

def NormalizeData(data):
    return (data - np.min(data)) / (np.max(data) - np.min(data))

t = NormalizeData(dff["Subjectivity"])
dff["nor_sub"] = t

In [127]:
dff["nor_sub"].describe()

count    30.000000
mean      0.477879
std       0.210976
min       0.000000
25%       0.357165
50%       0.449649
75%       0.539069
max       1.000000
Name: nor_sub, dtype: float64

In [128]:
dff.head() # 'std_polar' is standardized polarity and 'nor_sub' is for normalized subjectivity

         date  Polarity  Subjectivity  std_polar   nor_sub
0  2020-03-01  0.111486      0.400250   1.465326  1.000000
1  2020-03-02  0.076208      0.374060  -0.460398  0.702652
2  2020-03-03  0.066661      0.356695  -0.981578  0.505493
3  2020-03-04  0.089355      0.350825   0.257225  0.438847
4  2020-03-05  0.094081      0.368388   0.515205  0.638253